!includedir /etc/mysql/conf.d/
[mysqld]
default_time_zone=Africa/Accra
bind-address=0.0.0.0
max_connections=100000
interactive_timeout=1048576
innodb_buffer_pool_size=100M
max_allowed_packet=1024M
net_read_timeout=3600
net_write_timeout=3600